<h1>Markets#index</h1>
<p>Find me in app/views/markets/index.html.erb</p>
<% @markets.each do |market| %>

<%= link_to(market[:name],show_path(market[:id]))%>
<%= " #{market.city}, #{market.state}"  %></p>
<% end %>
<!-- <div>
above changed it to see if would work when phrased like tasklist
  <ul>
    <% @markets.each do |market| %>
    <li>Market Name: <%=market[:name]  %></li>
    <li>Address: <%=market.address %></li>
    <li>City: <%=market.city %></li>
    <li>County: <%=market.county %></li>
    <li>State: <%=market.state %></li>
    <li>Zip: <%=market.zip %></li>
  </ul>
  <% end %>
</div> -->
