<h1>Markets#show</h1>
<section>
	<p>id: <%= @mymarket.id %></p>
	<p>name: <%= @mymarket.name %></p>
	<p>address: <%=@mymarket.address %> <%=@mymarket.city%> <%=@mymarket.county%> <%=@mymarket.state%>, <%=@mymarket.zip%></p>
<section>
<p>Find me in app/views/markets/show.html.erb</p>
